<p id="notice"><%= notice %></p>


<div class="row py-5 px-4">
  <div class="col-xl-12 col-md-12 col-sm-12 mx-auto">

    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 bg-dark">
        <div class="media align-items-end profile-header">
          <div class="profile mr-3"><img src="<%= url_for @actor.avatar %>" alt="..." width="130" class="rounded mb-2 img-thumbnail">
            <% if current_user.admin? %>
              <%= link_to "Edit", edit_actor_path(@actor), class: "btn btn-dark btn-sm btn-block"  %>
            <% end %>
          </div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0"> <%= @actor.name %> </h4>
            <p class="small mb-4"><%= @actor.date_of_birth %> </p>
          </div>
        </div>
      </div>

      <div class="py-4 px-4">
        <h3 class="text-center ">Known For</h3>
        <div id="homepage">
          <div class="row flex-row flex-nowrap">
            <% @actor.movies.each do |movie| %>
              <div class="col-12 csol-sm-6 col-md-4 col-lg-4">
                <%= render partial: 'pages/index', locals: { movie: movie } %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div><!-- End profile widget -->

  </div>
</div>
