<ul class="media-list" id="review-<%= review.id %>">
  <li class="media">
    <span class="pull-left">
      <img src="<%= url_for review.user.avatar %>" alt="">
    </span>
    <div class="media-body">
      <span class="text-muted pull-right">
        <small class="text-muted">30 mins ago</small>
      </span>
      <strong class="text-success">@ <%= review.user.name %></strong>
      <p id="description"><%= review.description %><p>
      <% $i = review.rating.round %>
      <% $i.times do %>
        <span style="color:#FF8F42;">&starf;</span>
      <% end %>
        </p>
      </p>
      <% if current_user == review.user %>
      <a href="#panel-body-id" data-id="<%= review.id %>">Edit</a>
      <!--         <%= link_to 'Edit', edit_review_path(review), id: review.id %> -->
      <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% else %>
      <% end %>
    </div>
  </li>
</ul>