<div id="showpages">
  <div class="moviecard">
    <div class="movie-poster play-trailer">
      <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @movie.images.each_with_index do |image, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
            <img src="<%= url_for image.variant(resize: "360x600") %>" alt="" class="img-fluid">
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <div id="movie-content">
        <div class="movie-ratings">
          <span class="star">★</span>
          <span class="score"> <%= number_with_precision(@movie.rating, precision: 1) %>  </span>
        </div>
        <div class="movie-title"><%= @movie.title %>
          <span class="movie-year"> <%= @movie.release_date %>  </span>
        </div>
        <div class="movie-details">
          <span class="movie-rating">R</span>
          <span class="movie-duration"><%= @movie.run_time %></span>
          <span class="movie-genre"> <%= @movie.genre %> </span>
          <% if !current_user.favourite_movies.include?(@movie) %>
            <%= link_to "", add_movie_to_user_favourites_movie_path(@movie, user_id: current_user.id), method: :post, class: "fa fa-heart-o nohover ml-3", id: "heart_fav", remote: true, style: "color:none" %>
          <% else %>
            <%= link_to "", remove_movie_from_user_favourites_movie_path(id: @movie.id, user_id: current_user.id), method: :post, class: "fa fa-heart nohover ml-3", id: "heart_fav", remote: true, style: "color:red" %>
          <% end %>
        </div>
        <div class="movie-castcrew">
          <span class="title">Director</span>
          <span class="name"> <%= @movie.director %> </span>
        </div>
        <div class="movie-castcrew">
          <span class="title">Writer</span>
          <span class="name"> <%= @movie.writer %> </span>
        </div>
        <div class="movie-castcrew">
          <span class="title">Actors</span>
        </div>
        <div class="row" id="movie-actors-div">
          <% @movie.actors.each do |actor| %>
            <a class="nohover col-sm-3" href="<%= actor_path(actor)%>" style="color: black">
            <div class="profile-header-container" id="actor-<%= actor.id %>">
              <div class="profile-header-img">
                <%= image_tag user_avatar(actor, 50), class: "rounded-circle" %>
                <div class="rank-label-container">
                  <span class="label label-default rank-label"> <%= actor.name %> </span>
                  <% if current_user.admin? %>
                    <p> <%= link_to("Remove", movie_actor_detach_path(@movie, actor_id: actor.id), remote: true, :data => {:confirm => "Are you sure you want to remove this actor?"}, class: "nohover" ) %>  </p>
                  <% end %>
                </div>
              </div>
            </div>
            </a>
          <% end %>
          <div class="profile-header-container col-sm-3">
            <% if current_user.admin? %>
              <a id="btnadd">
                <div class="profile-header-img">
                  <%= image_tag asset_path("plus.png"), size: "50x50", class: "img-circle" %>
                  <div class="rank-label-container">
                    <span class="label label-default rank-label"> Add Actor </span>
                  </div>
                </div>
              </a>
            <% end %>
          </div>
        </div>
        <div class="movie-synopsis">
          <%= raw @movie.description %>
        </div>
        <button class="movie-trailer-btn play-trailer" type="button">play trailer</button>
        <div class="add_actor" style="display: none">
          <form action="/movies/<%= @movie.id %>/addActor" data-remote="true" method="post">
            <%= collection_select(:actors, :actor_id, Actor.where.not(id: @movie.actors.ids), :id, :name, {prompt: true}, {class: "custom-select", required: ""}) %>
              <%= submit_tag 'Add', class: "btn btn-primary center mt-2" %>
          </form>
        </div>
      </div>
      <div class="movie-trailer"><a class="back-btn">back</a>
        <div id="youvideo">
          <iframe width="490" height="275" src="<%= @movie.trailer %>" frameborder="0" style="max-height: 275px" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="moviecard row bootstrap snippets" id="panel-body-id">
      <div class="col-md-12 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 style="text-align: center;">Comments Panel</h3>
            </div>
            <div class="panel-body">
              <% if !current_user.reviews.where(movie_id: @movie.id).any? %>
                <div id="comment_box" style="display:block">
                <%= render 'reviews/review_box' %>
                </div>
              <% else %>
                <div id="comment_box" style="display:none">
                  <%= render 'reviews/review_box' %>
                </div>
              <% end %>
              <br>
              <div class="clearfix"></div>
              <hr>
              <% @reviews.each do |review| %>
                <%= render partial: 'review', locals: {review: review} %>
              <% end %>
            </div>
            <div class="container pagination justify-content-center">
              <%= paginate @reviews, pagination_class: "pagination-sm" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


