<p id="notice"><%= notice %></p>
<div id="showpages">
  <div class="moviecard">
    <div class="row bootstrap snippets" id="panel-body-id">
      <div class="col-md-12 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="text-center mb-5">Reported Reviews</h3>
            </div>
            <div class="panel-body">
              <% @reported_reviews.each do |reported_review| %>
                <ul class="media-list" id="review-<%= reported_review.review_id %>">
                  <li class="media">
                    <span class="pull-left mr-3">
                      <a href="<%= user_show_path(reported_review.review.user)%>">
                        <% if reported_review.review.user.avatar.attached? %>
                          <img src="<%= url_for reported_review.review.user.avatar %>" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        <% else %>
                          <img src="<%= url_for ('/assets/nouser-bfa6318418829641d9901eca6fa5d3d38405476a80af98e24170b41cbf06a62e.png') %>" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        <% end %>
                      </a>
                    </span>
                    <div class="media-body">
                      <span class="text-muted pull-right">
                      </span>
                      <strong class="text-success">@ <a href="<%= user_show_path(reported_review.user) %>"> <%= reported_review.user.name %> </a> Reported this review on
                        <strong class="text-danger">"<%= reported_review.movie.title %>"</strong>
                      </strong>
                      <p id="description"><%= reported_review.description %>
                      </p>
                      <%= link_to 'Destroy', admin_reported_review_path(reported_review.id), method: :delete, data: {confirm: 'Are you sure?'} %>
                      <%= link_to 'Edit', edit_admin_review_path(reported_review.review) %></td>
                    </div>
                  </li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
