<p id="notice"><%= notice %></p>
<section class="form-dark">
  <div class="card card-image">
    <!--Header-->
    <div class="text-center">
      <h3 class="white-text mb-3 mt-2 font-weight-bold"><strong>Edit</strong>
        <a class="green-text font-weight-bold"><strong> Actor</strong></a></h3>
    </div>
    <!--Body-->
    <div class="form-group">
      <strong>Description:</strong>
      <%= @review.description %>
    </div>
    <div class="form-group">
      <strong>User:</strong>
      <%= @review.user_id %>
    </div>
    <div class="form-group">
      <strong>Movie:</strong>
      <%= @review.movie_id %>
    </div>
    <div class="form-group">
      <strong>Status:</strong>
      <%= @review.status %>
    </div>
    <div class="form-group">
      <strong>Rating:</strong>
      <%= @review.rating %>
    </div>
    <%= link_to 'Edit', edit_review_path(@review), class: "btn btn-primary" %>
  </div>
</section>
